body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: #f3f3f3;
}

.container {
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1 / 1;
  width: 256px; 
  height: 256px;      
  border: 2px solid #333;
}

.square {
  flex: 1 0 6.25%;   
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
